/**
* 網頁主框架
**/
@charset "utf-8";
@import 'vars/vars';
@import 'vars/color';

$pageWidth: 960px;
/*for semantic elems*/
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}
/*原來自 _style.scss*/
html, body {
  width: 100%;
  height: 100%;
  font-family: PingFangTC-Regular, "Arial", "Microsoft JhengHei", sans-serif;

  .container {
    width: $pageWidth;
  }
}
/*
.container { width: 100%; }

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}
*/

body {
  background   : url(images/bg.png),
  linear-gradient(to bottom, rgb(250, 249, 247),  rgb(250, 249, 247));
  
  background-repeat  : no-repeat,
  no-repeat;

  background-position:top,
  top;

  background-attachment: fixed,fixed, fixed, fixed;
  
  background-size: cover;
}
/*定義flex box: top content bottom*/
#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 100%;*/
  min-height: 100vh;
  padding:0;
  flex-direction:column;
  display: flex;
}
@mixin width100-margin0(){
  width: 100%;
  margin: 0;
}
.content {
  height: 100%;
  flex: 1 0 auto;
  margin: 0;
  // @include width100-margin0();
}
#top-bar{
  height:83px;
  flex-shrink: 0;
  @include width100-margin0();

  .logo{
    margin-top: 10px;
    width:100%;
    height: 66px;
    background   : url(images/logo.png);
    background-repeat  : no-repeat;
    background-size: 100%;
  }
}
#bottom-bar {
  height: 100px;
  flex-shrink: 0;
  @include width100-margin0();

  font-family: PingFangTC-Regular;
  font-size: 14px;
  color: #CCCCCC;
  text-align: left;
  .info-contact{
    position: relative;
    width: $pageWidth;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}

/*override for bootstrap*/
.container{
  padding-left: 0;
  padding-right: 0;
}
nav, .row{
  margin-left: 0;
  margin-right: 0;
}
.ajax-loading{
  &:after {
    content: "Loading";
    color: $color_main;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    margin: auto;
    animation: h5 3s cubic-bezier(0.56, 0.23, 0.58, 1) infinite;
  }
  position:absolute;
  top:50%;
  left:48%;
  transform: translate(-50%, -50%);
  /*padding:2px;*/
  display:none;
  z-index:999;
}