/**
* 網頁主框架
**/
@charset "utf-8";
@import 'vars/vars';
@import 'vars/color';

$pageWidth: 960px;
/*for semantic elems*/
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}
/*原來自 _style.scss*/
html, body {
  width: 100%;
  height: 100%;
  font-family: PingFangTC-Regular, "Arial", "Microsoft JhengHei", sans-serif;
 
}
/*.container {
  width: $pageWidth;
}*/

/*
.container { width: 100%; }

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}
*/

body {
  background   : url(images/bg.png),
  linear-gradient(to bottom, rgb(250, 249, 247),  rgb(250, 249, 247));
  
  background-repeat  : no-repeat,
  no-repeat;

  background-position:top,
  top;

  background-attachment: fixed,fixed, fixed, fixed;
  
  background-size: cover;
}
/*定義flex box: top content bottom*/
#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // min-width: $pageWidth;
  /*height: 100%;*/
  min-height: 100vh;
  padding:0;
  flex-direction:column;
  display: flex;
}
@mixin width100-margin0(){
  width: 100%;
  margin: 0;
}
.content {
  height: 100%;
  flex: 1 0 auto;
  margin: 0;
  // @include width100-margin0();
}

#toplink{
  background-color: $color_light_brown2;
  a{
    color: #CCCCCC !important;
  }
}
#top-bar{
  flex-shrink: 0;
  @include width100-margin0();

  .logo{
    margin-top: 0;
    width:100%;
    height: 48px;
    background: no-repeat center/80% url(images/logo.png);
    /*background   : url(images/logo.png) 100% 36%;
      background-repeat  : no-repeat;*/
    // background-size: 100%;
  }
}
#bottom-bar {
  height: 100px;
  flex-shrink: 0;
  @include width100-margin0();

  font-family: PingFangTC-Regular;
  font-size: 14px;
  background-color: $color_light_brown2;
  color: #CCCCCC;
  text-align: left;
  .info-contact{
    position: relative;
    // width: $pageWidth;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
}

/*override for bootstrap*/
.container{
  padding-left: 0;
  padding-right: 0;
}
nav, .row{
  margin-left: 0;
  margin-right: 0;
}
.ajax-loading{
  &:after {
    content: "Loading";
    color: $color_main;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -50%);
    margin: auto;
    animation: h5 3s cubic-bezier(0.56, 0.23, 0.58, 1) infinite;
  }
  position:absolute;
  top:50%;
  left:48%;
  transform: translate(-50%, -50%);
  /*padding:2px;*/
  display:none;
  z-index:999;
}
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media only screen 
and (min-device-width: 320px) and (max-width: 768px) { 
  .info-contact,.container {
    width: 100%;
  }
  #logo-div {
     display: none;
  }
  #top-bar{
    height: auto;
  }
  .navbar {
    height: auto;
    margin-top: auto;
    padding: 0;
  }
  .top-bar-row{
    background:$color_white;
  }
  #toplink .nav-link{
    padding: .5rem .3rem !important;
  }
  #navbarSupportedContent .navbar-nav {
      display: inline !important;
  }
  #navbarSupportedContent .nav-link{
      padding-right: 0 !important;
  }
  #navbarSupportedContent .navbar ul li a {
      padding: .4rem .2rem;
  }  
}

// Medium devices (tablets, 768px and up)
@media only screen 
and (min-width: 768px) and (max-width: 992px){ 
  .info-contact,.container {
    width: 100%;
  }
  #logo-div {
    display: none;
  }
  #top-bar{
    height: auto;
  } 
  .navbar {
    height: auto;
    margin-top: auto;
    padding: 0;
  } 
  .top-bar-row{
    background:$color_white;
  }
  #toplink .nav-link{
    padding: .5rem .3rem !important;
  }
  #navbarSupportedContent .navbar-nav {
      display: inline !important;
  }
  #navbarSupportedContent .nav-link{
      padding-right: 0 !important;
  }
  #navbarSupportedContent .navbar ul li a {
      padding: .4rem .2rem;
  }  
}

// Large devices (desktops, 992px and up)
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992px){  
  .info-contact,.container {
    width: $pageWidth;
  }
  #top-bar{
    height:52px;
  }
  .navbar{
    height: 36px;
    margin-top:16px;
  }
}
/*
@media (min-width: 1200px){  
  .info-contact,.container {
    width: $pageWidth;
  }
  .navbar{
    height: 36px;
    margin-top:16px;
  }
}
*/