<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="resources/css/bootstrap-grid.css" th:href="@{/resources/css/bootstrap-grid.css}" />
        <link rel="stylesheet" type="text/css" href="resources/css/yatsu.css" th:href="@{/resources/css/yatsu.css}" />
    
    <title>Guideline</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
    <div class="wrapper bg_color_brown">
        <header class="bg_color_black">
            <div class="container">
                <h1 class="color_main u-padding-8">Guideline</h1>
            </div>
        </header>
        <div class="container opacity_80">
            <!-- 01.Color -->
            <h2 class="color_second">01.Color</h2>
            <hr>
            <div class="row">
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_main u-pt-48"></div>
                        <div class="color_main u-mt-8">主色#f4ac00</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_second u-pt-48"></div>
                        <div class="color_second u-mt-8">次色#ffff9b</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_third u-pt-48"></div>
                        <div class="color_third u-mt-8">次色#ffd23b</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_light_brown u-pt-48"></div>
                        <div class="color_light_brown u-mt-8">#68473e</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 bg_color_light_grey u-mb-32">
                        <div class="bg_color_brown u-pt-48"></div>
                        <div class="color_brown u-mt-8">主背景#392722</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_white u-pt-48"></div>
                        <div class="color_white u-mt-8">#ffffff</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_light_grey u-pt-48"></div>
                        <div class="color_light_grey u-mt-8">#c0c0c0</div>
                     </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_dark_grey u-pt-48"></div>
                        <div class="color_dark_grey u-mt-8">#535353</div>
                     </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 bg_color_light_grey u-mb-32">
                        <div class="bg_color_light_black u-pt-48"></div>
                        <div class="color_light_black u-mt-8">#111111</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_black u-pt-48"></div>
                        <div class="color_black u-mt-8">#000000</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_green u-pt-48"></div>
                        <div class="color_green u-mt-8">成功#00cc0a</div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="u-padding-8 u-mb-32">
                        <div class="bg_color_red u-pt-48"></div>
                        <div class="color_red u-mt-8">錯誤#dc0000</div>
                    </div>
                </div>
            </div>
            <!-- 02.Typography -->
            <h2 class="color_second">02.Typography</h2>
            <hr>
            <div class="row">
                <div class="col-6 color_white u-mt-16">
                    <h1>微軟正黑體 標題一 28px</h1>
                    <h2>微軟正黑體 標題二 24px</h2>
                    <h3>微軟正黑體 標題三 20px</h3>
                    <h4>微軟正黑體 標題四 18px</h4>
                    <h5>微軟正黑體 標題五 16px</h5>
                    <h6>微軟正黑體 標題六 14px</h6>
                </div>
                <div class="col-6 color_white u-mt-24">
                    <h6>文字段落 14px font-weight: 600</h6>
                    <br>
                    <p>14px際最深自的領，這院領傷化現覺圖明中易，量得我接收理……求了動個不……巴就在是？關劇著象形到媽集顧病小，媽直小寫唱生新汽天外事下易旅可奇了內長等主是軍聞：平更後與種，一創子！信的維於形、產一灣同人座。兒無得特成圖運、古上優鄉北兒雙中大關為用部畫值人解響把沒月解濟告王於！</p>
                </div>
                <div class="col-6 color_white u-mt-16">
                    <h1>Arial H1 28px</h1>
                    <h2>Arial H2 24px</h2>
                    <h3>Arial H3 20px</h3>
                    <h4>Arial H4 18px</h4>
                    <h5>Arial H5 16px</h5>
                    <h6>Arial H6 14px</h6>
                </div>
                <div class="col-6 color_white u-mt-24">
                    <h6>paragraph 14px font-weight: 600</h6>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur iure cum corporis dolor hic sapiente similique maxime, laboriosam eaque nostrum quia ex velit dicta ducimus doloremque sint. Fugiat, in.</p>
                </div>
            </div>
            <!-- 03.Grid -->
            <h2 class="color_second u-mt-16">03.Grid</h2>
			<hr>
			<div class="row u-mb-16">
				<div class="col-1">
					<div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-1</div>
				</div>
				<div class="col-11">
					<div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-11</div>
				</div>
            </div>
            <div class="row u-mb-16">
                <div class="col-2">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-2</div>
                </div>
                <div class="col-10">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-10</div>
                </div>
            </div>
            <div class="row u-mb-16">
                <div class="col-3">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-3</div>
                </div>
                <div class="col-9">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-9</div>
                </div>
            </div>
            <div class="row u-mb-16">
                <div class="col-4">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-4</div>
                </div>
                <div class="col-8">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-8</div>
                </div>
            </div>
            <div class="row u-mb-16">
                <div class="col-5">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-5</div>
                </div>
                <div class="col-7">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-7</div>
                </div>
            </div>
            <div class="row u-mb-16">
                <div class="col-6">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-6</div>
                </div>
                <div class="col-6">
                    <div class="u-pt-16 u-pb-16 bg_color_light_grey u-text-center">col-6</div>
                </div>
            </div>
            <!-- 04.Elements -->
            <!-- 04-01.input -->
            <h2 class="color_second u-mt-16">04.Elements</h2>
            <hr>
            <h3 class="color_third u-mb-16">04-01.Input</h3>
            <!-- <h4 class="color_white u-mt-8 u-mb-4">input樣式</h4> -->
            <p class="color_light_grey">輸入錯誤格式的樣式,ex:email</p>  
            <label for="error_input">錯誤的樣式:</label>
            <input type="email" id="error_input" value="notanemail">
            <span class="help_text"></span>
            <label for="normal_input">一般的樣式:</label>
            <input type="email" id="normal_input">
            <span class="help_text"></span>
            <br>
            
            <!-- 04-02.button -->
            <br>
            <h3 class="color_third u-mb-16">04-02.Buttons</h3>
            <div class="row">
                <div class="col-1">
                    <a href="#" class="button btn_logIn">登入</a>
                </div>
                <div class="col-1">
                    <a href="#" class="button btn_logOut col-1">登出</a>
                </div>
                <div class="col-1">
                    <a href="#" class="button btn_signUp col-1">註冊</a>
                </div>
                <div class="col-1">
                    <a href="#" class="button btn_conFirm col-1">確認</a>
                </div>
                <div class="col-1">
                    <a href="#" class="button btn_disabled col-1">禁用</a>
                </div>     
            </div>
            <!-- 04-03.Select -->
            <br>
            <h3 class="color_third u-mb-16">04-03.Select</h3>
            <div>
                <select class="select_lan bg_color_black color_white">
                    <option>繁體中文</option>
                    <option>English</option>
                    <option>簡體中文</option>
                </select>
            </div>
            <!-- 04-04.Textslider -->
            <br>
            <h3 class="color_third u-mb-16">04-04.Textslider</h3>
            <br>
            <div class="row">
                <div class="col-6 bg_color_light_black color_white">
                    <div class="row">
                        <div class="col-3 news">
                            <h5>最新消息:</h5>
                        </div>
                        <div class="col slideText">
                            <ul>
                                <li><a href="#">【系統公告】超商ATM儲值</a></li>
                                <li><a href="#">【系統公告】情助飛有社的來他</a></li>
                                <li><a href="#">【系統維護公告】</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
            <!-- 05.Header -->
            <h2 class="color_second u-mt-16">05.Header</h2>
            <hr>
            <h3 class="color_third u-mb-16">05-01.登入前</h3>
            <header>
                <div class="row bg_color_black">
                    <div class="col-6 offset-6">
                        <div class="row">
                            <div class="col-4 offset-2 top_header_padding">
                                <input type="text" class=" top_input" placeholder="請輸入帳號">
                            </div>
                            <div class="col-4 top_header_padding">
                                <input type="password" class="top_input" placeholder="請輸入密碼">
                            </div>
                            <div class="col-2 top_header_padding btn_logIn_margin">
                                <a href="#" class="button btn_logIn">登入</a>
                            </div> 
                        </div>    
                    </div>    
                </div>
                <div class="row">
                    <div class="col-6">
                        <!-- logo -->
                    </div>
                    <div class="col-6">
                        <div class="row u-mt-16">
                            <div class="col-12">
                                <div class="row ">
                                    <div class="col-2 offset-7">
                                        <a href="#" class="button btn_signUp header_center">註冊</a>
                                    </div>
                                    <div class="col-3">
                                        <select class="select_lan bg_color_black color_white header_center">
                                            <option>繁體中文</option>
                                            <option>English</option>
                                            <option>簡體中文</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 u-mt-16 bg_color_light_black color_white">
                                <div class="row">
                                    <div class="col-3 news">
                                        <h5>最新消息:</h5>
                                    </div>
                                    <div class="col slideText">
                                        <ul>
                                            <li><a href="#">【系統公告】超商ATM儲值</a></li>
                                            <li><a href="#">【系統公告】情助飛有社的來他</a></li>
                                            <li><a href="#">【系統維護公告】</a></li>
                                        </ul>
                                    </div>
                                </div>       
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
            <br>
            <!-- 06.Navbar -->
            <h2 class="color_second u-mt-16">06.Navbar</h2>
            <hr>
            <h3 class="color_third u-mb-16">06-01.登入前</h3>
            <nav class="navbar row bg_color_light_black_70 color_white">
                <ul>
                    <li>
                        <a href="#">首頁</a></li><li>
                        <a class="nav_now" href="#">遊戲大廳</a></li><li>
                        <a href="#">優惠活動</a></li><li>
                        <a href="#">合作計畫</a></li><li>
                        <a href="#">常見問題</a></li><li>
                        <a href="#">聯絡我們</a></li>
                </ul>
            </nav>
            <br>
            <h3 class="color_third u-mb-16">06-02.登入後</h3>
            <nav class="navbar row bg_color_light_black_70 color_white">
                <ul>
                    <li>
                        <a href="#">首頁</a></li><li>
                        <a href="#">會員專區</a></li><li>
                        <a href="#">紀錄查詢</a></li><li>
                        <a href="#">遊戲大廳</a></li><li>
                        <a href="#">聊天室</a></li><li>
                        <a href="#">優惠活動</a></li><li>
                        <a class="nav_now" href="#">常見問題</a></li><li>
                        <a href="#">聯絡我們</a></li>
                </ul>
            </nav>
            <br>
            <!-- 07.Pagination -->
            <h2 class="color_second u-mt-16">07.Pagination</h2>
            <hr>
            <div class="pages">
                <div class="pagination">
                    <a href="#">&lsaquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">&rsaquo;</a>
                </div>
            </div>
            <br>
            <!-- 08.首頁下方區塊 -->
            <h2 class="color_second u-mt-16">08.首頁下方區塊</h2>
            <hr>
            <section>
                <div class="row">
                    <div class="col-4 section_news">
                        <h4 class="text_gradient">最新公告</h4>
                        <a href="#">
                            <p class="color_white"><span class="color_main">【系統公告】</span>家師選慢全三只李千較多決……就以現孩府一共持小，組子會坡朋非更母山我心、</p>
                        </a>
                        <a href="#">
                            <p class="color_white u-mt-8"><span class="color_main">【系統公告】</span>館物自的一不子保夫人作賽不值，生心或、動花童望！步存照個同業學一好。著務目不全息高家進城畫上為許頭地舞子可人英因</p>
                        </a>
                    </div>
                    <div class="col-4">
                        <h4 class="text_gradient">優惠活動</h4>
                        <div class="row">
                            <div class="col-12 bg_color_light_grey ad_height u-mb-4">
                                
                            </div>
                            <div class="col-12 bg_color_light_grey ad_height u-mb-4">

                            </div>
                            <div class="col-12 bg_color_light_grey ad_height u-mb-4">

                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <h4 class="text_gradient">使用說明</h4>
                        <div>
                            <p class="color_white">仍是是動家師選慢全三只李千較多決……<br>
                                就以現孩府一共持小，組子<br>
                                會坡朋非更母山我心、險子才司<br>
                                館物自的一不子保夫人作賽不值，生心或、<br>
                                動花童望！步存照個同業學一好。<br>
                                著務目不全息高家進城畫上為許頭<br>
                                地舞子可人英因
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <!-- 09.Loading -->
            <h2 class="color_second u-mt-16">09.Loading</h2>
            <hr>
            <div class="loader"></div>
            <div class="loading"></div>
        </div>
        <!-- 0.Footer -->
        <div class="container">
            <h2 class="color_second u-mt-16">0.Footer</h2>
        </div>
        <footer class="bg_color_light_brown"></footer>
    </div>
    
    </body>
</html>