<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
        <link rel="stylesheet" type="text/css" href="resources/css/styles.css" th:href="@{/resources/css/styles.css}" />
        
       <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  
    <script src="//use.fontawesome.com/5c7468c27f.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
      <script src="resources/js/myWebSocket.js" th:src="@{/resources/js/myWebSocket.js}"></script>
      <script src="resources/js/jquery.marquee.js" th:src="@{/resources/js/jquery.marquee.js}"></script>
  </head>
  <body>
        <div class="ajax-loading">
                <div class="smallCircle"></div>
                <div class="bigCircle"></div>
        </div> 
    <div id="page-wrapper">
            <div id="toplink" >
            <ul class="nav justify-content-end container">
                    
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                
                  </ul>
                </div>
       <!-- <div id="toplink" class="container">

            <span> <a href="http://www.fgs.org.tw/">首頁</a> | <a href='javascript:TSC("big5")'>繁體中文版</a> | <a href='javascript:TSC("gb")'>簡體中文版</a>
                | <a href="http://www.fgs.org.tw/en/" target="_blank">English</a> | <a href="http://www.fgs.org.tw/fgs-child/index.htm"
                    target="_blank">兒童版</a> | <a href="http://www.fgs.org.tw/fgs/fgs_traffic.aspx" target="_blank">交通食宿</a> |
                <a href="http://www.fgs.org.tw/qa/qa_list.aspx" target="_blank">聯絡我們</a> | <a href="http://www.fgs.org.tw/sitemap.aspx">網站導覽</a>
                | <a href="http://www.fgs.org.tw/member/member_choose.aspx">會員登入</a></span>


            <span id="search">

                <h5><img src="../../../image/search.png"></h5>
                <label for="textfield"></label>
                <input type="text" name="searchtext" id="searchtext">
                <input type="image" name="uc2$ImageButton1" id="uc2_ImageButton1" src="image/searchbtn.png">

            </span>
            <div class="clearfix"></div>
        </div>-->
      <!--top logo menu-->
      <div id="top-bar" class="row bg_color_white"><div class="container">
          <!--登入前 class="row bg_color_black"-->
          <div class="row">
              <div class="col-4 u-pl-0">
                <div class="logo"></div>
              </div>
              <div class="col-8">
              <nav th:if="${player==null}" class="navbar row bg_color_white color_black_grey2 u-mt-16">
                <ul class="ul_nav">
                    <li class="li_nav">
                        <a href="#">首頁</a></li>
                    <li class="li_nav">
                        <a class="nav_now dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            全真上人</a>
                        <ul class="dropdown-menu"  role="menu">
                            <li><a href="javascript:void(0)">全真上人德相</a></li>
                            <li><a href="javascript:void(0)">全真上人略傳</a></li>
                            <li><a href="javascript:void(0)">偈語選粹</a></li>
                        </ul>
                    </li>
                    <li class="li_nav">
                        <a href="#">玄空法寺</a></li>
                    <li class="li_nav">
                        <a href="#">最新活動</a></li>
                    <li class="li_nav">
                        <a href="#">聯絡我們</a></li>
                </ul>
                </nav>
              </div>
              <!--
              <div class="col-6 offset-6">
                  <div class="row">
                      <div class="col-4 offset-2 top_header_padding">
                          <input type="text" class=" top_input" placeholder="請輸入帳號">
                      </div>
                      <div class="col-4 top_header_padding">
                          <input type="password" class="top_input" placeholder="請輸入密碼">
                      </div>
                      <div class="col-2 top_header_padding btn_logIn_margin">
                          <a href="#" class="button btn_logIn">登入</a>
                      </div> 
                  </div>    
              </div>  
              -->  
          </div>
         
      </div></div>
      <div id="content" class="content"><div class="container">
       
        <header>
        <div id="adCarousel" class="carousel" data-ride="carousel">
            <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#adCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#adCarousel" data-slide-to="1"></li>
              <li data-target="#adCarousel" data-slide-to="2"></li>
          </ol>
            <!-- Wrapper for slides -->
          <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="resources/img/slider/fullimage1.png" alt="Gate">
                </div>
          </div>
          <!-- Left and right controls -->
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#adCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#adCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          
        </div>
    </header>


        <!-- mercy space skregion -->
        <div class="row bg_color_main_70 u-pt-32 u-pb-32 u-pl-40 u-pr-40">
               
            <section class="col-md-4">
              <div class="thumbnail bg_color_white" style="height: 100%;">
                <a  href="{cat_link1}">
                  <img src="images/front/jy-mercy.png" alt="Mercy" style="width:100%">
                  <div class="caption text-center">
                      <h3 class="my-2">朝陽慈善</h3>
                    <p class="text-left px-3 pb-5r">朝陽慈善朝陽慈善朝陽慈善朝陽慈善Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    <img class="rm-icon my-2" src="images/front/read_more.png"/>
                  </div>
                </a>
              </div>
            </section>
            
            <section class=" col-md-4">
              <div class="thumbnail bg_color_white" style="height: 100%;">
                <a href="{cat_link2}">
                  <img src="images/front/jy-space.png" alt="Space" style="width:100%">
                  <div class="caption text-center">
                        <h3 class="my-2">朝陽慈空</h3>
                    <p class="text-left px-3 pb-5r">Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                    <img class="rm-icon my-2" src="images/front/read_more.png"/>
                  </div>
                </a>
              </div>
            </section>

            <section class="col-md-4">
              <div class="thumbnail text-center bg_color_white" style="height: 100%;">
                <a href="{cat_link3}">
                  <img src="images/front/jy-rigion.png" alt="Region" style="width:100%">
                  <div class="caption text-center">
                        <h3 class="my-2">玄空法界</h3>
                    <p class="text-left px-3 pb-5r">玄空法界玄空法界玄空法界玄空法界玄空法界玄空法界玄空法界玄空法界玄空
                        法界玄空法界玄空法界玄空法界玄空法界玄空法界玄空法界玄空法界玄空法界玄空法界
                        Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                        <img class="rm-icon my-2" src="images/front/read_more.png"/>
                  </div>
                </a>
                <!-- <img class="rm-icon" src="images/front/read_more.png" style="margin-bottom: -3rem;"/> -->
              </div>
            </section>

          </div>

          <div class="row bg_color_white u-pt-32 u-pb-32 u-pl-40 u-pr-40">
               
                <section class="col-md-5 pr-0">
                  <div class="thumbnail bg_color_white" style="height: 100%;">
                    <a  href="images/front/jy-mercy.png" target="_blank">
                      <img src="images/front/wyphoto.png" alt="Wisdom Young" style="width:100%">
                    </a>
                  </div>
                </section>
                
                <section class=" col-md-7">
                  <div class="row no-gutters">
                      <div class="col-2">
                          <img src="images/front/wyimg.png" style="width:88%;">
                      </div>
                      <div class="col-4">
                            <img src="images/front/wyword.png" style="width:88%;padding-top:1.2rem;">
                      </div>
                      <div class="col-2">
                            <img src="images/front/indep-comm.png" style="width:100%;padding-top:.2rem;">
                        </div>
                        <div class="col-4">
                               <h3 class="pt-2"> 中立農工</h3><h3 class="py-0">商政委員會</h3>
                               
                        </div>
                  </div>
                  <div class="row">
                      <div class="col">
                            <p class="pr-4 py-2" style="font-size: .9rem;">玄空法寺 全真上人，非常重視品格教育，品性是否能夠健全，
                                    對於每個人都是ㄧ生的課題；如何成為一個受歡迎、眾人愛戴、
                                    處世圓融的人，都是可以透過修行來學習進而改變的。</p>
                      </div>
                  </div>
                  <div class="row">
                        <div class="col-1">
                            <a href="images/front/fb.png">
                                <img src="images/front/fb.png" >
                            </a>
                        </div> 
                        <div class="align-middle ml-5 mr-2 mt-4">
                                <a href="images/front/fb.png">
                                <small class="small">智青FB粉專</small>
                                </a>
                        </div>
                        <div class="col-1">
                                <a href="images/front/fb.png">
                                <img class="mt-1" src="images/front/signup.png" >
                                </a>
                        </div>
                        <div class="align-middle u-ml-40 mt-4">
                                <a href="images/front/fb.png">
                                <small class="small">立即線上報名</small>
                                </a>
                        </div>
                    </div>
                </section>
    
              </div>

              <div class="row bg_color_main py-0 u-pl-40 u-pr-40">
                    <section class="col-md-5">
                        <div class="row">
                            <img src="images/front/skguard.png" style="width:80%;"/>
                        </div>
                        <ul class="small">
                            <li class="py-1">一、每個月第二週週六</li>
                            <li class="py-1"> 二、萬緣傳佛法燈聖會第八會</li>
                            <li class="py-1"> 三、觀世音菩薩聖誕暨圓燈法會</li>
                            <li class="py-1"> 四、春季祈安法會</li>
                            <li class="py-1">五、浴佛節法會</li>
                            <li class="py-1">六、伽藍菩薩聖誕</li>
                            <li class="py-1">七、孝道月地藏超薦報恩大法會</li>
                            <li class="py-1"> 八、秋季梁皇法會</li>
                        </ul>
                        <div class="row">
                                <a class="h5  more-link more-link-br1" href="{cat_link1}">
                                        更多消息>
                                </a>
                        </div>
                    </section>
                    
                    <section class="col-md-7">
                            <img src="images/front/golden-sun.png" style="width:100%">
                            
                    </section>
              </div>

              <div class="row bg_color_white u-pt-24 u-pb-32 u-pl-40 u-pr-40">
                
                <section class="col-12">
                <div class="row">

                    <div class="col pl-3">
                    <h2>
                        <span style="
                            position: absolute;
                            bottom: .6rem !important;
                            ">玄空專車</span>
                        <a href="{link}">
                        <img style="height:38px; padding-left:6.2rem;" src="images/front/fb-s.png" >
                        </a>
                    </h2>
                    
                    </div>
                </div>
                <div class="row">
                    <section class="col-5">
                            <h4><small class="small">
                            【植福修慧課程】： 如來聖境導讀、法師禪語甘露、消災延壽藥師法會、佛學分享與研討、靜坐禪修、信願行植福、開心農場體驗之旅、般若禪墨、文物館藝術饗宴、居士妙境語珠……等等。
                            </small></h4>
                    </section>
                    <div class="col-1"></div>
                    <section class="col-5">
                            <h4><small class="small">
                                107年發車日期：
                            1/13～1/14、2/10～2/11、3/10～3/11、4/14～4/15、5/12～5/13、
                            6/09～6/10、7/14～7/15、8/11～8/12、
                            9/08～9/09、10/13～10/14、11/10～11/11、12/08～12/09
                            </small></h4>
                            <h4><small class="small">
                            ★報名專線：法恩師父0933-722247
                        </small></h4>
                    </section>
                    <div class="col-1"></div>
                </div>
                </section>
                
            </div>


      </div></div>
      <footer id="bottom-bar" class="bg_color_light_brown2">
          <div class="row info-contact">
              <div class="col-8 u-pl-16">
                <div class="u-mt-8" >© 大智山玄空法寺. 台南巿楠西區中華路270號. 電話：06-5751455 傳真：06-5755935 </div>
                <div class="u-mt-8" >© 朝陽慈善功德會. 台南巿佳里區長安街78之2號4樓之3. 電話：06-7229290 傳真：06-7212222</div>
              </div>
              <div class="col-4">
<img src="resources/img/facebook_trans.png" class="u-ml-8">
<img src="resources/img/line_trans.png" class="u-ml-8">
              </div>
         </div>
      </footer>
    </div>
    <!--=================================================================================-->
    
  </body>
  <script>
      $(document).ready(function(){
        $('#marquee').marquee({isScroll:true});
        $("#marquee_up_btn").click(function(){
            $('#marquee').marquee("prev");
        });
        $("#marquee_dn_btn").click(function(){
            $('#marquee').marquee("next");
        });
      });
  </script>
</html>