@import '../vars/color';
/* $bg_color */
.bg_color_main {
    background-color: $color_main;
  }
  
  .bg_color_second {
    background-color: $color_second;
  }
  
  .bg_color_third {
    background-color: $color_third;
  }
  
  .bg_color_light_black {
    background-color: $color_light_black;
  }
  
  .bg_color_black {
    background-color: $color_black;
  }
  
  .bg_color_light_grey {
    background-color: $color_light_grey;
  }
  
  .bg_color_dark_grey {
    background-color: $color_dark_grey;
  }
  
  .bg_color_brown {
    background-color: $color_brown;
  }
  
  .bg_color_light_brown {
    background-color: $color_light_brown;
  }
  
  .bg_color_white {
    background-color: $color_white;
  }
  
  .bg_color_green {
    background-color: $color_green;
  }
  
  .bg_color_red {
    background-color: $color_red;
  }
  
  .bg_color_light_black_70 {
    background-color: $color_light_black_70;
  }
  
  /* $color */
  
  .color_main {
    color: $color_main;
  }
  
  .color_second {
    color: $color_second;
  }
  
  .color_third {
    color: $color_third;
  }
  
  .color_third_66 {
    color: $color_third_66;
  }
  
  .color_light_black {
    color: $color_light_black;
  }
  
  .color_black {
    color: $color_black;
  }
  
  .color_light_grey {
    color: $color_light_grey;
  }
  
  .color_dark_grey {
    color: $color_dark_grey;
  }
  
  .color_brown {
    color: $color_brown;
  }
  
  .color_light_brown {
    color: $color_light_brown;
  }
  
  .color_white {
    color: $color_white;
  }
  
  .color_green {
    color: $color_green;
  }
  
  .color_red {
    color: $color_red;
  }
  
  .color_light_black_70 {
    color: $color_light_black_70;
  }
  