@charset "UTF-8";
@import '../vars/color';
/* $navbar _style.scss*/
.navbar {
  height: 44px;
  /*1st layer .ul_nav .li_nav*/
  ul {
    list-style: none;

    li {
      list-style: none;
      padding: 0 10px;
      display: inline-block;
      
      position: relative;
      float: left;

       /* 複寫 bootstrap 顏色 */
      & .dropdown-menu{
        background-color:  $color_light_grey2;
        &>li{
          background-color: $color_light_grey2;
        }
        &>li>a{
          color: $color_dark_grey2;
          &:hover, &:focus{
            background-color: $color_light_grey2;
          }
        }
      }
      a {
        display: inline-block;
        line-height: 1.4;
        text-decoration: none;
        padding: 6px 6px 6px;
        transition: color 0.5s ease-in, border-bottom 0.5s 0.2s;
        color: $color_dark_grey2;
        &:hover {
          color: $color_brown;
          // border-bottom: 2px solid $color_brown;
        }

        &:active {
          color: $color_dark_grey2;
          // border-bottom: 2px solid $color_light_grey2;
        }
      }
    }
  }
}
.dropdown-item.active, .dropdown-item:active {
  color: $color_dark_grey2;
  text-decoration: none;
  background-color: $color_light_grey3 !important;
}
.nav_now {
  /*color: $color_third !important;*/
  background-color:  $color_light_grey2 !important;
}
/* hover dropdown */
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}